<% include ../partials/header%>
<h1 class="texts" style="margin-bottom:20px">Checkout</h1>

<div class="container">
  <div class="row">
    <h3>Total price</h3>
    <div class="col-sm-8 col-md-8">
      <form action="/order" method="POST">
        <!-- Shipping adress -->

        <strong>1 Shipping address</strong>
        <div class="form-group">
          <label for="pname">Full name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="usename"
          />
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="pname">Adress</label>
              <input
                class="form-control"
                type="text"
                name="deliveryadress"
                placeholder="street,city,region"
              />
            </div>
          </div>
          <div class="col-md-6">
            <a href="/#" class="btn btn-default "
              ><i class="fa fa-map-marker"></i> get current location</a
            >
          </div>
        </div>

        <div class="form-group">
          <label for="pname">phone number</label>
          <input
            class="form-control"
            type="text"
            name="phone"
            placeholder="phone"
          />
        </div>

        <!-- Transportation -->

        <div class="row">
          <hr />
          <div class="col-sm-4 col-md-4">
            <strong>2 Transportation option</strong>
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="radio">
              <label
                ><input
                  type="radio"
                  name="optradio"
                  value="Deliver to my home"
                  checked
                />Deliver to my home</label
              >
              <p class="small">
                Deliver via transporter to my location. transporters are
                assigned by the seller
              </p>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="radio">
              <label
                ><input
                  type="radio"
                  value="pick up from store"
                  name="optradio"
                />pick up from store</label
              >
              <p class="small">I will pick this up my self from the store</p>
            </div>
          </div>
        </div>

        <!-- payment method -->
        <div class="row">
          <hr />
          <div class="col-sm-4 col-md-4">
            <strong>3 Payment method</strong>
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="btn-group">
              <button type="button" class="btn btn-primary ">
                Cash on deliverry
              </button>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle disabled"
                data-toggle="dropdown"
              >
                Mobile banking <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">CBE birr</a></li>
                <li><a href="#">Oro cash</a></li>
              </ul>
            </div>
          </div>
        </div>
        


      
        <!-- Shipping adress -->
     


        <!-- review items and shipping -->
    <div class="row">
        <hr>
            <div class="col-sm-4 col-md-4">
            </div>
            <br>
            <!-- for each product -->
            
            <div class="row">
                
                <div class="col-sm-6">
                    <h4 style="color:#337ab7">  <strong>Shipping message: </strong></h4>
                    <%products.forEach(function(product){ %>
            
              <div class="row">
                  <div class="col-md-6">
                      <img src="<%=product.item.image%>" width="100" height="100">
                  </div>
                  <div class="col-md-6">
                        <p><%=product.item.pname%> (color) - size</p>
                      
                        <p><%=product.item.price%> br </p>
                     
                        <div class="well well-sm">QTY: <%=product.qty%></div>
                        
                        sold by: store name

                    </div>
                    
              </div>
              <%})%>
            </div>
            
            <div class="col-md-6 text-center " >
                    <h5> <strong>shiping date </strong></h5>
                    <div class="row pull-right ">
                    <div class="col-md-6">
                     
                            <div class="form-group">
                              <input
                                class="form-control"
                                type="text"
                                name="pname"
                                placeholder="product name"
                              />
                            </div>
                          </div>
                      

                          <div class="col-sm-6 col-md-6">
                            <a href="/#" class="btn btn-default ">change</a>
                          </div>
                        </div>    
            </div>
            </div>  
           
        
    </div>
    

     
   
</div>

<div class="col-sm-3">
    <div class="panel panel-default" style="padding:5px">
      <div class="panel-body">
          <input type="submit" value="Place your order" class="btn btn-success btn-block" />
     
         
        <p style="font-size: 11px; text-align: center; margin-top: 4px;">
          by placing your order, you agree to Adulis.com's privacy notice and
          condition of use
        </p>
      </div>
      <div class="panel-footer">
        <strong> Order Summary</strong>

        <div class="row" style="font-size: 12px">
          <div class="col-sm-6 col-md-6">
            <p>items:</p>
            <p>Shipping and heading:</p>
            <br />
            <p>Total before tax:</p>
            <p>Estimated tax to be collected</p>
          </div>
          <div class="col-sm-6 col-md-6">
            <p><%=totalPrice%> br</p>
            <p>0.00br</p>
            <hr />
            <p>147br</p>
            <p>0.00br</p>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <strong style="color:#337ab7">Order total:<%=totalPrice%> br</strong>
      </div>
    </div>
  </div>
</form>
    </div>
  </div>
</div>
